*{
    margin: 0;
    padding: 0;
}
#box1{
    align-items: center;
    max-width: 400px;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}
#box1 #header{
    align-items: center;
    background-color: purple;
    width: 100%;
    text-align: center;
}
/* #box1 #header h3{
    margin-left: 120px;
} */
