*{
    margin: 0;
    padding: 0;
}
#box1{
    align-items: center;
    max-width: 300px;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
}
#box1 #header{
    align-items: center;
    background-color: blue;
    width: 100%;
}
#header h3{
    margin-left: 100px;
}
